*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.tip{
    height: 200px;
    width: 370px;
    border-radius: 10px 10px 0px 0px;
}
.wrap{
    display: flex;
    justify-self: center;
    gap: 20px;

}
.main{
    height: 100vh;
    width: 100%;
    background-image: url(/public/images/group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.green{
    background-color: #1C1C1E;
    height: 500px;
    color: white;
    width: 370px;  
    font-family: "Montserrat", serif;
    font-weight: 400;
    margin-top: 10%;
    border-radius: 15px;
}
#cr{
    padding-left: 10px;
    color: #DDDDDD; 
}
#cd{
    padding-left: 10px;
}
#cs{
    padding-left: 10px;
}
#cf{
    padding-left: 10px;
}
.ex{
    text-align: center;
    margin-top: 20px;
    color: white;
    background-color: #00C853;
    border: none;
    margin-left: 100px;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 50px 10px 50px;
}
.ex:hover{
    background-color: #000;
    color: #00C853;
    box-shadow: 0px 0px 5px #00C853,
    0px 0px 5px #00C853;
}

/* dapppp */
.container {
    height: 100vh;
    width: 100%;
    color: white;
    background-image: url(/public/images/move.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
.h1 {
    color: white;
    margin-bottom: 10px;
  }
  
.h2 {
    color: white;
    margin-top: 20px;
  }
  
.p {
    color: whitesmoke;
    margin: 10px 0;
  }
  
.ul {
    color: white;
  padding-left: 20px;
  }
  
.li {
    color: white;
    margin: 5px 0;
  }
  